@media print {
  body * {
    visibility: hidden;
  }
  .printable-section,
  .printable-section * {
    visibility: visible;
  }
  .printable-section {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.item-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: bold;
}

.item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  width: 100%;
  box-sizing: border-box;
}

.item-info h5 {
  margin: 0;
  font-size: 1.2em;
}

.item-label {
  flex-grow: 1;
  text-align: left;
}

.item-amount {
  flex-grow: 1;
  text-align: right;
  padding-right: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.print-button, .clear-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.print-button {
  background-color: #007BFF;
  color: white;
}

.print-button:hover {
  background-color: #0056b3;
}

.clear-button {
  background-color: #dc3545;
  color: white;
}

.clear-button:hover {
  background-color: #c82333;
}
.close-button {
  width: 20px; 
  height: 20px; 
  font-size: 12px; /* if it's a text-based button */
  width: 20px; /* if it's an image-based button */
  height: 20px; /* if it's an image-based button */
  margin-left: auto;
  padding-right: 5px;
}


