@media print {
  body * {
    visibility: hidden;
  }
  .printable-section,
  .printable-section * {
    visibility: visible;
  }
  .printable-section {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.item-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: bold;
}

.item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  width: 100%;
  box-sizing: border-box;
}

.item-info h5 {
  margin: 0;
  font-size: 1.2em;
}

.item-label {
  flex-grow: 1;
  text-align: left;
}

.item-amount {
  flex-grow: 1;
  text-align: right;
  padding-right: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.print-button,
.clear-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.print-button {
  background-color: #007bff;
  color: white;
}

.print-button:hover {
  background-color: #0056b3;
}

.clear-button {
  background-color: #dc3545;
  color: white;
}

.clear-button:hover {
  background-color: #c82333;
}
.close-button {
  width: 20px;
  height: 20px;
  font-size: 12px;
  width: 20px;
  height: 20px;
  margin-left: auto;
  padding-right: 5px;
}

.font-bold {
  font-weight: bold;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.w-full {
  width: 100%;
}

p.left-align {
  text-align: left;
}

.time-span {
  display: block;
  text-align: right;
}

/* p {
  display: flex;
  justify-content: space-between;
} */
/* pos.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.close-button.top-right {
  position: absolute;
  top: 10px;
  right: 10px;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.print-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.secondary-close-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

.bill-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.bill-table th,
.bill-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.bill-table th {
  background-color: #f2f2f2;
}
